@if (quote(); as quote) {
<mat-card appearance="outlined">
    <mat-card-title>
        <div class="title"> <mat-icon>text_snippet</mat-icon> {{quote.quoteNumber}}</div>
    </mat-card-title>
    <mat-card-content>
        <div class="labels">
            <div class="info-item">
                <div class="icon">
                    <mat-icon>person</mat-icon>
                </div>
                <div class="quote-text"><span>Cliente: </span>{{quote.customer.firstName}} {{quote.customer.lastName}}</div>
            </div>
            <div class="info-item">
                <div class="icon">
                    <mat-icon>draw</mat-icon>
                </div>
                <div class="quote-text"><span>Estado: </span>{{quote.status}}</div>
            </div>
            <div class="info-item">
                <div class="icon">
                    <mat-icon>date_range</mat-icon>
                </div>
                <div class="quote-text"><span>Fecha emisión: </span>{{quote.issueDate | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="info-item">
                <div class="icon">
                    <mat-icon>date_range</mat-icon>
                </div>
                <div class="quote-text"><span>Fecha vencimiento: </span>{{quote.expirationDate | date: 'dd/MM/yyyy' }}</div>
            </div>
        </div>
        <div class="note">
            <h3>Observaciones: </h3>
            {{quote.notes}}
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="actions">
            <button matButton="elevated" (click)="edit.emit()"><mat-icon>edit</mat-icon> Editar</button>
            <button matButton="elevated" (click)="addItem.emit()"><mat-icon>add</mat-icon> Agregar Producto</button>
        </div>

    </mat-card-actions>
</mat-card>
}