<form [formGroup]="form">

    <mat-form-field appearance="outline">

        <mat-label>Nombre</mat-label>

        <input matInput formControlName="firstName">

    </mat-form-field>

    <mat-form-field appearance="outline">

        <mat-label>Apellido</mat-label>

        <input matInput formControlName="lastName">

    </mat-form-field>

    <mat-form-field appearance="outline">

        <mat-label>Empresa</mat-label>

        <input matInput formControlName="company">

    </mat-form-field>

    <mat-form-field appearance="outline">

        <mat-label>Email</mat-label>

        <input matInput formControlName="email">

    </mat-form-field>

    <mat-form-field appearance="outline">

        <mat-label>Teléfono</mat-label>

        <input matInput formControlName="phone">

    </mat-form-field>

    <mat-form-field appearance="outline">

        <mat-label>Ciudad</mat-label>

        <input matInput formControlName="city">

    </mat-form-field>

    <mat-checkbox formControlName="active">

        Activo

    </mat-checkbox>

</form>